<div
  class="container-fluid row sticky-top no-gutters"
  style="background-color: #2f3640;"
>
  <div class="site-name col-sm-2 col-6">
    Icarus
  </div>
  <div class="col-sm-4 offset-sm-6 col-6">
    <div class="row justify-content-end access-buttons">
      <button type="button" class="btn btn-link btn-sm font-white">
        Sign Up
      </button>
      <button type="button" class="btn btn-primary btn-sm">Log In</button>
    </div>
  </div>
</div>
<hr class="no-margin" />
<!-- <div class="container-fluid login">
  <div class="col-md-3">
    <form>
      <fieldset class="form-group">
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Phone, Username or Email"
        />
      </fieldset>
      <fieldset class="form-group">
        <input
          type="text"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
      </fieldset>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" value="" />
        <label class="form-check-label font-white"
          >I agree to the <a href="#">Terms and Conditions</a></label
        >
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Login
      </button>
    </form>
  </div>
</div> -->
<!-- <div class="row text-parent">
  <div class="text">
    Fusce laoreet non justo et hendrerit
  </div>
</div> -->
<div class="cont-1">
  <div class="media text-parent">
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
      maximus odio. Phasellus ac viverra mauris. Vivamus eget tempus urna. Duis
      aliquam sapien massa, eu tempus nisi suscipit vel. Nam vehicula a leo id
      vehicula. Suspendisse tincidunt ex dui, ut blandit mauris consequat quis.
      Proin est massa, pellentesque vitae laoreet eget, accumsan non mi. Donec
      maximus tristique ipsum, non consequat ex pharetra a. Cras quis elit vitae
      nisl sagittis maximus. Vivamus et tortor eget eros accumsan porttitor in
      vitae orci. Suspendisse enim ex, malesuada id viverra id, ullamcorper
      placerat tellus.
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div
      class="col-md-4 d-flex cont-2"
      style="align-items: center;justify-content: space-around;"
    >
      <div>
        <div><h2>A</h2></div>
        <div><h6>Apple</h6></div>
      </div>
    </div>
    <div
      class="col-md-4 d-flex"
      style="align-items: center;justify-content: space-around;"
    >
      <div>
        <div><h2>B</h2></div>
        <div><h6>Bat</h6></div>
      </div>
    </div>
    <div
      class="col-md-4 d-flex"
      style="align-items: center;justify-content: space-around;"
    >
      <div>
        <div><h2>C</h2></div>
        <div><h6>Cat</h6></div>
      </div>
    </div>
  </div>
</div>

<div class="cont-1">
  <div class="media text-parent">
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
      maximus odio. Phasellus ac viverra mauris. Vivamus eget tempus urna. Duis
      aliquam sapien massa, eu tempus nisi suscipit vel. Nam vehicula a leo id
      vehicula. Suspendisse tincidunt ex dui, ut blandit mauris consequat quis.
      Proin est massa, pellentesque vitae laoreet eget, accumsan non mi. Donec
      maximus tristique ipsum, non consequat ex pharetra a. Cras quis elit vitae
      nisl sagittis maximus. Vivamus et tortor eget eros accumsan porttitor in
      vitae orci. Suspendisse enim ex, malesuada id viverra id, ullamcorper
      placerat tellus.
    </div>
  </div>
</div>
<div class="brdr"></div>
