.site-name {
  font-size: 2.5em;
  color: white;
}
.access-buttons {
  padding: 1em 2em 1em 0;
}
.no-margin {
  margin: 0rem;
}
/* .login {
  position: absolute;
  transform: translate(-50%, -50%);
} */
.cont-1 {
  background-image: url("../images/unsplash.jpg");
  background-size: cover;
  background-repeat: space;
  background-position: center center;
  width: 100%;
  height: 1000px;
  margin-top: -10px;
}
.cont-2 {
  height: 16em;
}

.text-parent {
  align-items: center;
  justify-content: space-around;
}
.text {
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  width: 20em;
  flex: 0 0 auto;
  padding-top: 8em;
  font-family: sans-serif;
}
.brdr {
  border-style: 18px inset #d2e3ed;
}
